<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <nav id="nav-bar">
        <h1 id="title">My Contact Manager</h1>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="menu">
            <div class="menu-view" id="menu-main">
                <button class="menu-btn" data-view="profile">Profile</button>
                <button class="menu-btn">Settings</button>
                <button id="logout-btn" class="menu-btn">Logout</button>
            </div>
            <div class="menu-view" id="menu-profile">
                <h3 class="menu-title">Edit Profile</h3>
                <form>
                <label>First Name <input type="text" name="firstName"></label>
                <label>Last Name <input type="text" name="lastName"></label>
                <label>Username <input type="text" name="username"></label>
                <label>Password <input type="password" name="password"></label>
                <div class="menu-actions">
                    <button class="menu-btn" type="button" data-view="main">Back</button>
                    <button type="submit">Save</button>
                </div>
                </form>
            </div>
        </div>
    </nav>
    <div id="content-wrapper">
        <div id="navigator">
            <div id="search-bar">
                <div id="search-input-wrapper">
                    <input id="search-input" type="text">
                    <button id="search-btn">
                        <img id="search-icon" src="../images/icons/search.svg" alt="" height="20px" width="20px">
                    </button>
                </div>
                <button id="add-contact-btn">+</button>
            </div>
            <div id="contact-list-background">
                <ul id="contact-list">
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="viewport"></div>
    </div>
    <script src="../js/baseurl.js"></script>
    <script src="../js/dashboard-menu-navigation.js"></script>
    <script src="../js/dashboard-logout.js"></script>
</body>
</html>