<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <nav id="nav-bar">
        <h1 id="title">My Contact Manager</h1>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <ul class="menu">
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <div id="content-wrapper">
        <div id="navigator">
            <div id="search-bar">
                <div id="search-input-wrapper">
                    <input id="search-input" type="text">
                    <button id="search-btn">
                        <img id="search-icon" src="../images/icons/search.svg" alt="" height="20px" width="20px">
                    </button>
                </div>
                <button id="add-contact-btn">+</button>
            </div>
            <div id="contact-list-background">
                <ul id="contact-list">
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                    <li class="contact-entry">
                        <img class="contact-icon" src="" alt="">
                        <span class="contact-name">John Smith</span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="viewport"></div>
    </div>
</body>
</html>