<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <form id="login-form" action="">
        <h1 id="login-title">Login</h1>
        <div class="login-input-wrapper">
            <img class="login-input-icon" src="../images/icons/user.svg" alt="" height="20px" width="20px">
            <input id="username-input" class="login-input" type="text" placeholder="Name">
        </div>
        <div class="login-input-wrapper">
            <img class="login-input-icon" src="../images/icons/security-padlock-black-outline-circle.svg" alt="" height="20px" width="20px">
            <input id="password-input" class="login-input" type="text" placeholder="Password">
        </div>
        <div id="remember-me-wrapper">
            <input type="checkbox">
            <span>Remember me</span>
        </div>
        <button id="login-btn">Login</button>
        <div id="signup-wrapper">
            <span id="signup-span">Don't have a sign in?</span>
            <a href="../view/signup.html">Sign up now</a>
        </div>
    </form>
    <script src="../js/util.js"></script>
    <script src="../js/login.js"></script>
</body>
</html>