<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <form id="signup-form" action="">
        <h1 id="signup-title">Signup</h1>
        <div class="signup-input-wrapper">
            <img class="signup-input-icon" src="../images/icons/user.svg" alt="" height="20px" width="20px">
            <input class="signup-input" type="text" placeholder="Name">
        </div>
        <div class="signup-input-wrapper">
            <img class="signup-input-icon" src="../images/icons/security-padlock-black-outline-circle.svg" alt="" height="20px" width="20px">
            <input class="signup-input" type="text" placeholder="Password">
        </div>
        <button id="signup-btn">Signup</button>
        <div id="login-wrapper">
            <span id="login-span">Already have a login?</span>
            <a href="../view/login.html">Login</a>
        </div>
    </form>
</body>
</html>