#dashboard-menu-wrapper {
    position: fixed;
}

#dashboard-menu-toggle {
    position: fixed;
    background-color: rgb(242, 242, 242);
    border: none;
    top: 38px;
    right: 38px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

#dashboard-menu-toggle span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: rgb(94, 94, 94);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.dashboard-menu-open-hamburger-span:nth-of-type(1) {
    transform: translateY(7px) rotate(45deg);
    background-color: rgb(193, 68, 68) !important;
}
.dashboard-menu-open-hamburger-span:nth-of-type(2) {
    opacity: 0;
}
.dashboard-menu-open-hamburger-span:nth-of-type(3) {
    transform: translateY(-7px) rotate(-45deg);
    background-color: rgb(193, 68, 68) !important;
}

#dashboard-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 150px;
    height: 180px;
    top: 100px;
    right: 38px;
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    transform: translateX(130%);
    transition: transform 0.3s ease, opacity 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.dashboard-menu-open-menu {
    transform: translateX(0) !important;
}

.dashboard-menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(17, 139, 180);
    width: 100%;
    flex: 1;
    text-align: center;
    font-size: 16px;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.dashboard-menu-btn:nth-of-type(1) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dashboard-menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-1px);
    color:rgb(17, 139, 180);
}

#dashboard-logout-btn {
    color: rgb(193, 68, 68);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#dashboard-delete-contact-btn {
    color: rgb(193, 68, 68);
}